openapi: 3.0.3
info:
  description: "Baremetrics provides real-time subscription metrics for teams built\
    \ with Stripe, Shopify Partners, Braintree, Recurly, Chargebee, Google Play, and\
    \ App Store Connect. \n\nIn addition to metrics, Baremetrics provides tools that\
    \ help you reduce churn and grow your business faster: \n\nRecover: Prevent failed\
    \ charges and keep your hard-earned revenue with our 100% automated toolkit. \n\
    \nCancellation insights: Learn exactly why your customers cancel, calculate lost\
    \ revenue by cancellation reason, and send automated emails to win customers back.\n\
    \nFlightpath: Plan for the future with flexible financial modeling tools built\
    \ for growing SaaS companies."
  title: Production
  version: "1.0"
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
servers:
- url: https://api.baremetrics.com
security:
- sec0: []
tags:
- name: Source
- name: Segment
- name: Metric
- name: Annotation
- name: Goal
- name: Attribute
- name: Event
- name: Reason
- name: User
- name: Account
- name: CancellationInsight
paths:
  /v1/account:
    get:
      deprecated: false
      description: ""
      operationId: Account_getDetails
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "account": {
                        "id": 'account_id',
                        "default_currency": {
                          "id": "usd",
                          "alternate_symbols": [
                            "US$"
                          ],
                          "decimal_mark": ".",
                          "disambiguate_symbol": "US$",
                          "html_entity": "$",
                          "iso_code": "USD",
                          "iso_numeric": "840",
                          "name": "United States Dollar",
                          "priority": 1,
                          "smallest_denomination": 1,
                          "subunit": "Cent",
                          "subunit_to_unit": 100,
                          "symbol": "$",
                          "symbol_first": true,
                          "thousands_separator": ","
                        },
                        "company": "Example Company",
                        "created_at": 123456789
                      }
                    }
              schema:
                $ref: '#/components/schemas/AccountGetDetailsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/AccountGetDetails400Response'
          description: "400"
          x-do-not-generate: true
      summary: Get Account
      tags:
      - Account
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-account
      x-accepts: application/json
  /v1/sources:
    get:
      deprecated: false
      description: ""
      operationId: Source_listSources
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "sources": [
                        {
                          "id": "source_id",
                          "provider": "stripe",
                          "provider_id": "<stripe_account_id>"
                        },
                        {
                          "id": "source_id",
                          "provider": "baremetrics",
                          "provider_id": null
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SourceListSourcesResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceListSources400Response'
          description: "400"
          x-do-not-generate: true
      summary: List Sources
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-sources
      x-accepts: application/json
  /v1/{source_id}/plans:
    get:
      deprecated: false
      description: ""
      operationId: Source_getPlansList
      parameters:
      - description: Allows you to search based on the name or oid fields
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "plans": [
                        {
                          "oid": "plan_1",
                          "source_id": "123",
                          "source": "baremetrics",
                          "name": "Plan 1",
                          "interval": "year",
                          "interval_count": 1,
                          "trial_duration": null,
                          "trial_duration_unit": null,
                          "created": null,
                          "active": true,
                          "setup_fees": 0,
                          "amounts": [
                            {
                              "currency": "USD",
                              "symbol": "$",
                              "symbol_right": false,
                              "amount": 450000
                            }
                          ]
                        },
                        {
                          "oid": "plan_2",
                          "source_id": "123",
                          "source": "baremetrics",
                          "name": "Plan 2",
                          "interval": "year",
                          "interval_count": 1,
                          "trial_duration": null,
                          "trial_duration_unit": null,
                          "created": null,
                          "active": true,
                          "setup_fees": 0,
                          "amounts": [
                            {
                              "currency": "USD",
                              "symbol": "$",
                              "symbol_right": false,
                              "amount": 450000
                            }
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SourceGetPlansListResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceGetPlansList400Response'
          description: "400"
          x-do-not-generate: true
      summary: List Plans
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-source_id-plans
      x-accepts: application/json
    post:
      deprecated: false
      description: "Create a plan for use when [creating](https://developers.baremetrics.com/reference/introduction)\
        \ or [updating](https://developers.baremetrics.com/reference/introduction)\
        \ subscriptions."
      operationId: Source_createPlan
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCreatePlanRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "plan": {
                        "oid": "plan_2",
                        "source_id": "123",
                        "source": "baremetrics",
                        "name": "Plan 2",
                        "interval": "year",
                        "interval_count": 1,
                        "trial_duration": null,
                        "trial_duration_unit": null,
                        "created": null,
                        "active": true,
                        "setup_fees": 0,
                        "amounts": [
                          {
                            "currency": "USD",
                            "symbol": "$",
                            "symbol_right": false,
                            "amount": 450000
                          }
                        ]
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceCreatePlanResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                $ref: '#/components/schemas/SourceCreatePlan400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create Plan
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-source_id-plans
      x-content-type: application/json
      x-accepts: application/json
  /v1/{source_id}/plans/{oid}:
    delete:
      deprecated: false
      description: ""
      operationId: Source_deletePlan
      parameters:
      - explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceDeletePlanResponse'
          description: "202"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceDeletePlan400Response'
          description: "400"
          x-do-not-generate: true
      summary: Delete Plan
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-source_id-plans-oid
      x-accepts: application/json
    get:
      deprecated: false
      description: ""
      operationId: Source_getPlan
      parameters:
      - explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "plan": {
                        "oid": "plan_2",
                        "source_id": "123",
                        "source": "baremetrics",
                        "name": "Plan 2",
                        "interval": "year",
                        "interval_count": 1,
                        "trial_duration": null,
                        "trial_duration_unit": null,
                        "created": null,
                        "active": true,
                        "setup_fees": 0,
                        "amounts": [
                          {
                            "currency": "USD",
                            "symbol": "$",
                            "symbol_right": false,
                            "amount": 450000
                          }
                        ]
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceGetPlanResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceGetPlan400Response'
          description: "400"
          x-do-not-generate: true
      summary: Show Plan
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-source_id-plans-oid
      x-accepts: application/json
  /v1/{source_id}/plans/{plan_oid}:
    put:
      deprecated: false
      description: ""
      operationId: Source_updatePlan
      parameters:
      - description: Your interval plan id
        explode: false
        in: path
        name: plan_oid
        required: true
        schema:
          type: string
        style: simple
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceUpdatePlanRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "plan": {
                        "oid": "plan_2",
                        "source_id": "123",
                        "source": "baremetrics",
                        "name": "Plan 2",
                        "interval": "year",
                        "interval_count": 1,
                        "trial_duration": null,
                        "trial_duration_unit": null,
                        "created": null,
                        "active": true,
                        "setup_fees": 0,
                        "amounts": [
                          {
                            "currency": "USD",
                            "symbol": "$",
                            "symbol_right": false,
                            "amount": 450000
                          }
                        ]
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceUpdatePlanResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceUpdatePlan400Response'
          description: "400"
          x-do-not-generate: true
      summary: Update Plan
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-source_id-plans-plan_oid
      x-content-type: application/json
      x-accepts: application/json
  /v1/{source_id}/customers:
    get:
      deprecated: false
      description: Fetch a list of all customers on your account
      operationId: Source_getCustomerList
      parameters:
      - description: "Allows you to search for a customer based on: oid, email, notes\
          \ and name"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      - description: Allows you to sort the results. You can use ltv or created
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: created
          example: created
          type: string
          x-konfig-original-example: created
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-source_id-customers-get-parameters-2-schema
        style: form
      - explode: true
        in: query
        name: order
        required: false
        schema:
          default: asc
          example: asc
          type: string
          x-konfig-original-example: asc
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-source_id-customers-get-parameters-3-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customers": [
                        {
                          "oid": "customer_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "created": 1492605754,
                          "email": "customer_1@baremetrics.com",
                          "name": "Customer 1",
                          "display_image": "https://logo.clearbit.com/baremetrics.com",
                          "display_name": "Customer 1",
                          "notes": "Here are some notes",
                          "ltv": 50000,
                          "is_active": true,
                          "is_canceled": false,
                          "current_mrr": 1000,
                          "current_plans": [
                            {
                              "oid": "plan_1",
                              "source_id": "source_1",
                              "source": "stripe",
                              "name": "Plan 1",
                              "interval": "month",
                              "interval_count": 1,
                              "trial_duration": null,
                              "trial_duration_unit": null,
                              "created": 1492605754,
                              "active": true,
                              "setup_fees": 0,
                              "amounts": [
                                {
                                  "currency": "USD",
                                  "symbol": "$",
                                  "symbol_right": false,
                                  "amount": 1000
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SourceGetCustomerListResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceGetCustomerList400Response'
          description: "400"
          x-do-not-generate: true
      summary: List Customers
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-source_id-customers
      x-accepts: application/json
    post:
      deprecated: false
      description: "This endpoint allows you to create a customer record. After you\
        \ create the record, you will be able to create a [Subscription](https://developers.baremetrics.com/reference/introduction)"
      operationId: Source_createCustomerRecord
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCreateCustomerRecordRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customer": {
                        "oid": "customer_1",
                        "source_id": "source_1",
                        "source": "stripe",
                        "created": 1492605754,
                        "email": "customer_1@baremetrics.com",
                        "name": "Customer 1",
                        "display_image": "https://logo.clearbit.com/baremetrics.com",
                        "display_name": "Customer 1",
                        "notes": "Here are some notes",
                        "ltv": 0,
                        "is_active": false,
                        "is_canceled": false,
                        "current_mrr": 0,
                        "current_plans": []
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceCreateCustomerRecordResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                $ref: '#/components/schemas/SourceCreateCustomerRecord400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create Customer
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-source_id-customers
      x-content-type: application/json
      x-accepts: application/json
  /v1/{source_id}/customers/{oid}:
    delete:
      deprecated: false
      description: ""
      operationId: Source_deleteCustomer
      parameters:
      - explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceDeleteCustomerResponse'
          description: "202"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceDeleteCustomer400Response'
          description: "400"
          x-do-not-generate: true
      summary: Delete Customer
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-source_id-customers-oid
      x-accepts: application/json
    get:
      deprecated: false
      description: ""
      operationId: Source_getCustomerDetails
      parameters:
      - explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customer": {
                        "oid": "customer_1",
                        "source_id": "source_1",
                        "source": "stripe",
                        "created": 1492605754,
                        "email": "customer_1@baremetrics.com",
                        "name": "Customer 1",
                        "display_image": "https://logo.clearbit.com/baremetrics.com",
                        "display_name": "Customer 1",
                        "notes": "Here are some notes",
                        "ltv": 50000,
                        "is_active": true,
                        "is_canceled": false,
                        "current_mrr": 1000,
                        "current_plans": [
                          {
                            "oid": "plan_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "name": "Plan 1",
                            "interval": "month",
                            "interval_count": 1,
                            "trial_duration": null,
                            "trial_duration_unit": null,
                            "created": 1492605754,
                            "active": true,
                            "setup_fees": 0,
                            "amounts": [
                              {
                                "currency": "USD",
                                "symbol": "$",
                                "symbol_right": false,
                                "amount": 1000
                              }
                            ]
                          }
                        ]
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceGetCustomerDetailsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceGetCustomerDetails400Response'
          description: "400"
          x-do-not-generate: true
      summary: Show Customer
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-source_id-customers-oid
      x-accepts: application/json
  /v1/{source_id}/customers/{oid}/events:
    get:
      deprecated: false
      description: ""
      operationId: Source_listCustomerEvents
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "events": [
                        {
                          "id": "id_1",
                          "event_type": "new_customer",
                          "source": "baremetrics",
                          "source_id": "baremetrics_1",
                          "timestamp": 1475452800
                        },
                        {
                          "id": "id_2",
                          "event_type": "charge",
                          "source": "baremetrics",
                          "source_id": "baremetrics_1",
                          "timestamp": 1475452800
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SourceListCustomerEventsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceListCustomerEvents400Response'
          description: "400"
          x-do-not-generate: true
      summary: List Customer Events
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-source_id-customers-oid-events
      x-accepts: application/json
  /v1/{source_id}/customers/{customer_oid}:
    put:
      deprecated: false
      description: "This endpoint allows you to update the basic information stored\
        \ on a Customer, such as first name, last name and notes"
      operationId: Source_updateCustomerInformation
      parameters:
      - description: Your unique ID for the customer
        explode: false
        in: path
        name: customer_oid
        required: true
        schema:
          type: string
        style: simple
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceUpdateCustomerInformationRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "customer": {
                        "oid": "customer_1",
                        "source_id": "source_1",
                        "source": "stripe",
                        "created": 1492605754,
                        "email": "customer_1@baremetrics.com",
                        "name": "Customer 1",
                        "display_image": "https://logo.clearbit.com/baremetrics.com",
                        "display_name": "Customer 1",
                        "notes": "Here are some notes",
                        "ltv": 50000,
                        "is_active": true,
                        "is_canceled": false,
                        "current_mrr": 1000,
                        "current_plans": [
                          {
                            "oid": "plan_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "name": "Plan 1",
                            "interval": "month",
                            "interval_count": 1,
                            "trial_duration": null,
                            "trial_duration_unit": null,
                            "created": 1492605754,
                            "active": true,
                            "setup_fees": 0,
                            "amounts": [
                              {
                                "currency": "USD",
                                "symbol": "$",
                                "symbol_right": false,
                                "amount": 1000
                              }
                            ]
                          }
                        ]
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceUpdateCustomerInformationResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                $ref: '#/components/schemas/SourceUpdateCustomerInformation400Response'
          description: "400"
          x-do-not-generate: true
      summary: Update Customer
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-source_id-customers-customer_oid
      x-content-type: application/json
      x-accepts: application/json
  /v1/{source_id}/subscriptions:
    get:
      deprecated: false
      description: Get all subscriptions linked to this API Key.
      operationId: Source_getSubscriptions
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      - description: This allows you to return subscriptions for a given customer
        explode: true
        in: query
        name: customer_oid
        required: false
        schema:
          type: string
        style: form
      - description: Allows you to order subscriptions from newest to oldest `desc`
          or oldest to newest `asc`
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          example: desc
          type: string
          x-konfig-original-example: desc
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-source_id-subscriptions-get-parameters-2-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "subscriptions": [
                        {
                          "oid": "subscription_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "customer": {
                            "oid": "customer_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "created": 1492605754,
                            "email": "customer_1@baremetrics.com",
                            "name": "Customer 1",
                            "display_image": "https://logo.clearbit.com/baremetrics.com",
                            "display_name": "Customer 1",
                            "notes": "Here are some notes",
                            "ltv": 50000,
                          },
                          "canceled_at": null,
                          "started_at": 1492605754,
                          "processed": true,
                          "active": true,
                          "quantity": 1,
                          "discount": 0,
                          "plan": {
                            "oid": "plan_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "name": "Plan 1",
                            "interval": "month",
                            "interval_count": 1,
                            "trial_duration": null,
                            "trial_duration_unit": null,
                            "created": 1492605754,
                            "active": true,
                            "setup_fees": 0,
                            "amounts": [
                              {
                                "currency": "USD",
                                "symbol": "$",
                                "symbol_right": false,
                                "amount": 1000
                              }
                            ]
                          }
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SourceGetSubscriptionsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceGetSubscriptions400Response'
          description: "400"
          x-do-not-generate: true
      summary: List Subscriptions
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-source_id-subscriptions
      x-accepts: application/json
    post:
      deprecated: false
      description: This endpoint allows you to create a Subscription.
      operationId: Source_createSubscription
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCreateSubscriptionRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "event": {
                        "id": "48X1ZZHtRaBtfN",
                        "type": "subscription.created",
                        "info": {
                          "oid": "subscription_51",
                          "started_at": 1474381618,
                          "plan_oid": "1476719008009",
                          "customer_oid": "1476719006346",
                          "canceled_at": null,
                          "quantity": 1,
                          "addons" : [
                            {
                              "oid": "addon_1",
                              "amount": 100,
                              "quantity": 1
                            },
                            {
                              "oid": "addon_2",
                              "amount": 50,
                              "quantity": 1
                            }
                          ]
                        },
                        "occurred_at": 1474381618,
                        "received_at": 1480421211
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceCreateSubscriptionResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                $ref: '#/components/schemas/SourceCreateSubscription400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create Subscription
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-source_id-subscriptions
      x-content-type: application/json
      x-accepts: application/json
  /v1/{source_id}/subscriptions/{oid}:
    delete:
      deprecated: false
      description: ""
      operationId: Source_removeSubscription
      parameters:
      - explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceRemoveSubscriptionResponse'
          description: "202"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceRemoveSubscription400Response'
          description: "400"
          x-do-not-generate: true
      summary: Delete Subscription
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-source_id-subscriptions-oid
      x-accepts: application/json
    get:
      deprecated: false
      description: ""
      operationId: Source_getSubscription
      parameters:
      - explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "subscription": {
                        "oid": "subscription_1",
                        "source_id": "source_1",
                        "source": "stripe",
                        "customer": {
                          "oid": "customer_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "created": 1492605754,
                          "email": "customer_1@baremetrics.com",
                          "name": "Customer 1",
                          "display_image": "https://logo.clearbit.com/baremetrics.com",
                          "display_name": "Customer 1",
                          "notes": "Here are some notes",
                          "ltv": 50000,
                        },
                        "canceled_at": null,
                        "started_at": 1492605754,
                        "processed": true,
                        "active": true,
                        "quantity": 1,
                        "discount": 0,
                        "plan": {
                          "oid": "plan_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "name": "Plan 1",
                          "interval": "month",
                          "interval_count": 1,
                          "trial_duration": null,
                          "trial_duration_unit": null,
                          "created": 1492605754,
                          "active": true,
                          "setup_fees": 0,
                          "amounts": [
                            {
                              "currency": "USD",
                              "symbol": "$",
                              "symbol_right": false,
                              "amount": 1000
                            }
                          ]
                        }
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceGetSubscriptionResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceGetSubscription400Response'
          description: "400"
          x-do-not-generate: true
      summary: Show Subscription
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-source_id-subscriptions-oid
      x-accepts: application/json
  /v1/{source_id}/subscriptions/{subscription_oid}:
    put:
      deprecated: false
      description: "This allows you to update a Subscription, such as changing plans\
        \ and addons."
      operationId: Source_updateSubscription
      parameters:
      - description: Your unique ID for the subscription
        explode: false
        in: path
        name: subscription_oid
        required: true
        schema:
          type: string
        style: simple
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceUpdateSubscriptionRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "event": {
                        "id": "48X4cZ3T25MKkL",
                        "type": "subscription.updated",
                        "info": {
                          "plan_oid": "1476719008009",
                          "occurred_at": 1480421495,
                          "quantity": 1,
                          "addons" : [
                            {
                              "oid": "addon_1",
                              "amount": 100,
                              "quantity": 1
                            },
                            {
                              "oid": "addon_2",
                              "amount": 50,
                              "quantity": 1
                            },
                            {
                              "oid": "addon_3",
                              "amount": 25,
                              "quantity": 1
                            }
                          ]
                        },
                        "occurred_at": 1480421495,
                        "received_at": 1480421495
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceUpdateSubscriptionResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                $ref: '#/components/schemas/SourceUpdateSubscription400Response'
          description: "400"
          x-do-not-generate: true
      summary: Update Subscription
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-source_id-subscriptions-subscription_oid
      x-content-type: application/json
      x-accepts: application/json
  /v1/{source_id}/subscriptions/{subscription_oid}/cancel:
    put:
      deprecated: false
      description: This endpoint allows you to cancel a subscription.
      operationId: Source_cancelSubscription
      parameters:
      - description: Your unique ID for the subscription
        explode: false
        in: path
        name: subscription_oid
        required: true
        schema:
          type: string
        style: simple
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCancelSubscriptionRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "event": {
                        "id": "48X3C1W4w5vCbx",
                        "type": "subscription.canceled",
                        "info": {
                          "canceled_at": 1480421362,
                          "addons": []
                        },
                        "occurred_at": 1480421362,
                        "received_at": 1480421362
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceCancelSubscriptionResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"error\": \"Error message here\"\n}"
              schema:
                $ref: '#/components/schemas/SourceCancelSubscription400Response'
          description: "400"
          x-do-not-generate: true
      summary: Cancel Subscription
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-source_id-subscriptions-subscription_oid-cancel
      x-content-type: application/json
      x-accepts: application/json
  /v1/annotations:
    get:
      deprecated: false
      description: ""
      operationId: Annotation_list
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "annotations": [
                        {
                          "id": "our_unique_id",
                          "metric": "mrr",
                          "annotation": "New Feature 1",
                          "date": "2015-03-31",
                          "global": true,
                          "user": {
                            "id": "user_id",
                            "email": "user@baremetrics.com",
                            "admin": true,
                            "name": "User Name"
                          }
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/AnnotationListResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/AnnotationList400Response'
          description: "400"
          x-do-not-generate: true
      summary: List Annotations
      tags:
      - Annotation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-annotations
      x-accepts: application/json
    post:
      deprecated: false
      description: ""
      operationId: Annotation_createNew
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnnotationCreateNewRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "annotation": {
                        "id": "our_unique_id",
                        "metric": "mrr",
                        "annotation": "New Feature 1",
                        "date": "2015-03-31",
                        "global": true,
                        "user": {
                          "id": "user_id",
                          "email": "user@baremetrics.com",
                          "admin": true,
                          "name": "User Name"
                        }
                      }
                    }
              schema:
                $ref: '#/components/schemas/AnnotationCreateNewResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/AnnotationCreateNew400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create Annotation
      tags:
      - Annotation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-annotations
      x-content-type: application/json
      x-accepts: application/json
  /v1/annotations/{id}:
    delete:
      deprecated: false
      description: ""
      operationId: Annotation_removeById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/AnnotationRemoveByIdResponse'
          description: "202"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/AnnotationRemoveById400Response'
          description: "400"
          x-do-not-generate: true
      summary: Delete Annotation
      tags:
      - Annotation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-annotations-id
      x-accepts: application/json
    get:
      deprecated: false
      description: ""
      operationId: Annotation_getDetails
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "annotation": {
                        "id": "our_unique_id",
                        "metric": "mrr",
                        "annotation": "New Feature 1",
                        "date": "2015-03-31",
                        "global": true,
                        "user": {
                          "id": "user_id",
                          "email": "user@baremetrics.com",
                          "admin": true,
                          "name": "User Name"
                        }
                      }
                    }
              schema:
                $ref: '#/components/schemas/AnnotationGetDetailsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/AnnotationGetDetails400Response'
          description: "400"
          x-do-not-generate: true
      summary: Show Annotation
      tags:
      - Annotation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-annotations-id
      x-accepts: application/json
  /v1/goals:
    get:
      deprecated: false
      description: ""
      operationId: Goal_getList
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "goals": [
                        {
                          "id": "our_unique_id",
                          "metric": "mrr",
                          "end_amount": 2000,
                          "start_amount": 1000,
                          "end_date": "2016-06-30",
                          "start_date": "2016-01-02",
                          "name": "MRR Growth"
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/GoalGetListResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/GoalGetList400Response'
          description: "400"
          x-do-not-generate: true
      summary: List Goals
      tags:
      - Goal
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-goals
      x-accepts: application/json
    post:
      deprecated: false
      description: ""
      operationId: Goal_createNewGoal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoalCreateNewGoalRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "goal": {
                        "id": "our_unique_id",
                        "metric": "mrr",
                        "end_amount": 2000,
                        "start_amount": 1000,
                        "end_date": "2016-06-30",
                        "start_date": "2016-01-02",
                        "name": "Goal 1"
                      }
                    }
              schema:
                $ref: '#/components/schemas/GoalCreateNewGoalResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/GoalCreateNewGoal400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create Goal
      tags:
      - Goal
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-goals
      x-content-type: application/json
      x-accepts: application/json
  /v1/goals/{id}:
    delete:
      deprecated: false
      description: ""
      operationId: Goal_remove
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/GoalRemoveResponse'
          description: "202"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/GoalRemove400Response'
          description: "400"
          x-do-not-generate: true
      summary: Delete Goal
      tags:
      - Goal
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-goals-id
      x-accepts: application/json
    get:
      deprecated: false
      description: ""
      operationId: Goal_getById
      parameters:
      - description: Unique ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "goal": {
                        "id": "our_unique_id",
                        "metric": "mrr",
                        "end_amount": 2000,
                        "start_amount": 1000,
                        "end_date": "2016-06-30",
                        "start_date": "2016-01-02",
                        "name": "MRR Growth"
                      }
                    }
              schema:
                $ref: '#/components/schemas/GoalGetByIdResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/GoalGetById400Response'
          description: "400"
          x-do-not-generate: true
      summary: Show Goal
      tags:
      - Goal
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-goals-id
      x-accepts: application/json
  /v1/users:
    get:
      deprecated: false
      description: ""
      operationId: User_listUsers
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "users": [
                        {
                          "id": "our_unique_id",
                          "email": "user@baremetrics.com",
                          "admin": true,
                          "name": "User Name"
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/UserListUsersResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/UserListUsers400Response'
          description: "400"
          x-do-not-generate: true
      summary: List Users
      tags:
      - User
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-users
      x-accepts: application/json
  /v1/users/{id}:
    get:
      deprecated: false
      description: ""
      operationId: User_getUserById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "user": {
                        "id": "our_unique_id",
                        "email": "user@baremetrics.com",
                        "admin": true,
                        "name": "User Name"
                      }
                    }
              schema:
                $ref: '#/components/schemas/UserGetUserByIdResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/UserGetUserById400Response'
          description: "400"
          x-do-not-generate: true
      summary: Show User
      tags:
      - User
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-users-id
      x-accepts: application/json
  /v1/{source_id}/charges:
    get:
      deprecated: false
      description: ""
      operationId: Source_getChargeList
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: subscription_oid
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: customer_oid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "charges": [
                        {
                          "oid": "your_unique_id",
                          "source_id": "source_id",
                          "source": "baremetrics",
                          "status": "paid",
                          "created": 1475452800,
                          "customer": {
                            "oid": "customer_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "created": 1492605754,
                            "email": "customer_1@baremetrics.com",
                            "name": "Customer 1",
                            "display_image": "https://logo.clearbit.com/baremetrics.com",
                            "display_name": "Customer 1",
                            "notes": "Here are some notes",
                            "ltv": 50000,
                          },
                          "subscription": null,
                          "amount": 450000,
                          "currency": "USD",
                          "original_amount": 450000,
                          "fee": 500,
                          "original_fee": 500
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SourceGetChargeListResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceGetChargeList400Response'
          description: "400"
          x-do-not-generate: true
      summary: List Charges
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-source_id-charges
      x-accepts: application/json
    post:
      deprecated: false
      description: Create "One-Off" charges that are not linked to a subscription.
      operationId: Source_createChargeOneOff
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCreateChargeOneOffRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "charge": {
                        "oid": "your_unique_id",
                        "source_id": "source_id",
                        "source": "baremetrics",
                        "status": "paid",
                        "created": 1475452800,
                        "customer": {
                          "oid": "customer_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "created": 1492605754,
                          "email": "customer_1@baremetrics.com",
                          "name": "Customer 1",
                          "display_image": "https://logo.clearbit.com/baremetrics.com",
                          "display_name": "Customer 1",
                          "notes": "Here are some notes",
                          "ltv": 50000,
                        },
                        "subscription": null,
                        "amount": 450000,
                        "currency": "USD",
                        "original_amount": 450000,
                        "fee": 500,
                        "original_fee": 500
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceCreateChargeOneOffResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceCreateChargeOneOff400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create Charge
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-source_id-charges
      x-content-type: application/json
      x-accepts: application/json
  /v1/{source_id}/charges/{oid}:
    delete:
      deprecated: false
      description: Delete "One-Off" charges that are not linked to a subscription.
      operationId: Source_removeOneOffCharge
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceRemoveOneOffChargeResponse'
          description: "202"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceRemoveOneOffCharge400Response'
          description: "400"
          x-do-not-generate: true
      summary: Delete Charge
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-source_id-charges-oid
      x-accepts: application/json
    get:
      deprecated: false
      description: ""
      operationId: Source_getChargeDetails
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "charge": {
                        "oid": "your_unique_id",
                        "source_id": "source_id",
                        "source": "baremetrics",
                        "status": "paid",
                        "created": 1475452800,
                        "customer": {
                          "oid": "customer_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "created": 1492605754,
                          "email": "customer_1@baremetrics.com",
                          "name": "Customer 1",
                          "display_image": "https://logo.clearbit.com/baremetrics.com",
                          "display_name": "Customer 1",
                          "notes": "Here are some notes",
                          "ltv": 50000,
                        },
                        "subscription": null,
                        "amount": 450000,
                        "currency": "USD",
                        "original_amount": 450000,
                        "fee": 500,
                        "original_fee": 500
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceGetChargeDetailsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceGetChargeDetails400Response'
          description: "400"
          x-do-not-generate: true
      summary: Show Charge
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-source_id-charges-oid
      x-accepts: application/json
  /v1/{source_id}/refunds:
    get:
      deprecated: false
      description: ""
      operationId: Source_getRefunds
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "refunds": [
                        {
                          "oid": "your_unique_id",
                          "source_id": "source_id",
                          "source": "stripe",
                          "charge_oid": "charge_oid",
                          "created": 1510789071,
                          "customer": {
                            "oid": "customer_1",
                            "source_id": "source_id",
                            "source": "stripe",
                            "created": 1445122336,
                            "email": "customer_1@baremetrics.com",
                            "name": "Customer 1",
                            "display_image": "https://logo.clearbit.com/baremetrics.com",
                            "display_name": "Customer 1",
                            "notes": null,
                            "ltv": 116148
                          },
                          "amount": 8700
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/SourceGetRefundsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceGetRefunds400Response'
          description: "400"
          x-do-not-generate: true
      summary: List Refunds
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-source_id-refunds
      x-accepts: application/json
    post:
      deprecated: false
      description: Create "One-Off" refunds that are not linked to a subscription.
      operationId: Source_createOneOffRefund
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCreateOneOffRefundRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"refund\": {\n    \"oid\": \"your_unique_id\",\n \
                    \   \"source_id\": \"source_id\",\n    \"source\": \"baremetrics\"\
                    ,\n    \"created\": 1475452800,\n    \"customer\": {\n      \"\
                    oid\": \"customer_1\",\n      \"source_id\": \"source_1\",\n \
                    \     \"source\": \"stripe\",\n      \"created\": 1492605754,\n\
                    \      \"email\": \"customer_1@baremetrics.com\",\n      \"name\"\
                    : \"Customer 1\",\n      \"display_image\": \"https://logo.clearbit.com/baremetrics.com\"\
                    ,\n      \"display_name\": \"Customer 1\",\n      \"notes\": \"\
                    Here are some notes\",\n      \"ltv\": 50000,\n    },\n    \"\
                    charge\": {\n    \t\"oid\": \"123\",\n      \"source_id\": \"\
                    source_id\",\n      \"source\": \"baremetrics\",\n      \"status\"\
                    : \"paid\",\n      \"created\": 1475452800,\n      \"currency\"\
                    : \"usd\",\n      \"amount\": 450000,\n      \"original_amount\"\
                    : 450000\n    },\n    \"amount\": 450000\n  }\n}"
              schema:
                $ref: '#/components/schemas/SourceCreateOneOffRefundResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceCreateOneOffRefund400Response'
          description: "400"
          x-do-not-generate: true
      summary: Create Refund
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-source_id-refunds
      x-content-type: application/json
      x-accepts: application/json
  /v1/{source_id}/refunds/{oid}:
    delete:
      deprecated: false
      description: Delete "One-Off" refunds that are not linked to a subscription.
      operationId: Source_removeOneOffRefund
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceRemoveOneOffRefundResponse'
          description: "202"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceRemoveOneOffRefund400Response'
          description: "400"
          x-do-not-generate: true
      summary: Delete Refund
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-source_id-refunds-oid
      x-accepts: application/json
    get:
      deprecated: false
      description: ""
      operationId: Source_getRefundDetails
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: oid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "oid": "your_unique_id",
                      "source_id": "source_id",
                      "source": "stripe",
                      "charge_oid": "charge_oid",
                      "created": 1510789071,
                      "customer": {
                        "oid": "customer_1",
                        "source_id": "source_id",
                        "source": "stripe",
                        "created": 1445122336,
                        "email": "customer_1@baremetrics.com",
                        "name": "Customer 1",
                        "display_image": "https://logo.clearbit.com/baremetrics.com",
                        "display_name": "Customer 1",
                        "notes": null,
                        "ltv": 116148
                      },
                      "amount": 8700
                    }
              schema:
                $ref: '#/components/schemas/SourceGetRefundDetailsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceGetRefundDetails400Response'
          description: "400"
          x-do-not-generate: true
      summary: Show Refund
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-source_id-refunds-oid
      x-accepts: application/json
  /v1/{source_id}/events:
    get:
      deprecated: false
      description: ""
      operationId: Source_getEvents
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      - description: Set this to true to only return events that show up in the live
          stream
        explode: true
        in: query
        name: live_stream
        required: false
        schema:
          default: "false"
          example: "false"
          type: string
          x-konfig-original-example: "false"
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-source_id-events-get-parameters-1-schema
        style: form
      - explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "events": [
                        {
                          "id": "id_1",
                          "event_type": "charge",
                          "source": "baremetrics",
                          "source_id": "baremetrics_1",
                          "timestamp": 1475452800,
                          "customer": {
                            "oid": "customer_1",
                            "source_id": "source_1",
                            "source": "stripe",
                            "created": 1492605754,
                            "email": "customer_1@baremetrics.com",
                            "name": "Customer 1",
                            "display_image": "https://logo.clearbit.com/baremetrics.com",
                            "display_name": "Customer 1",
                            "notes": "Here are some notes",
                            "ltv": 50000,
                          }
                        }
                      ],
                      "meta": {
                        "pagination": {
                          "has_more": false,
                          "page": 0,
                          "per_page": 30
                        }
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceGetEventsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceGetEvents400Response'
          description: "400"
          x-do-not-generate: true
      summary: List Events
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-source_id-events
      x-accepts: application/json
  /v1/{source_id}/events/{id}:
    get:
      deprecated: false
      description: ""
      operationId: Source_getEventById
      parameters:
      - description: "Please see [Sources](ref:sources)"
        explode: false
        in: path
        name: source_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "event": {
                        "id": "id_1",
                        "event_type": "charge",
                        "source": "baremetrics",
                        "source_id": "baremetrics_1",
                        "timestamp": 1475452800,
                        "customer": {
                          "oid": "customer_1",
                          "source_id": "source_1",
                          "source": "stripe",
                          "created": 1492605754,
                          "email": "customer_1@baremetrics.com",
                          "name": "Customer 1",
                          "display_image": "https://logo.clearbit.com/baremetrics.com",
                          "display_name": "Customer 1",
                          "notes": "Here are some notes",
                          "ltv": 50000,
                        }
                      }
                    }
              schema:
                $ref: '#/components/schemas/SourceGetEventByIdResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SourceGetEventById400Response'
          description: "400"
          x-do-not-generate: true
      summary: Show Event
      tags:
      - Source
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-source_id-events-id
      x-accepts: application/json
  /v1/metrics:
    get:
      deprecated: false
      description: ""
      operationId: Metric_showSummary
      parameters:
      - explode: true
        in: query
        name: start_date
        required: true
        schema:
          default: 2016-11-01
          example: 2016-11-01
          type: string
          x-konfig-original-example: 2016-11-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-metrics-get-parameters-0-schema
        style: form
      - explode: true
        in: query
        name: end_date
        required: true
        schema:
          default: 2016-11-26
          example: 2016-11-26
          type: string
          x-konfig-original-example: 2016-11-26
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-metrics-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "metrics": [
                        {
                          "human_date": "2016-11-26",
                          "date": 1480118400,
                          "active_customers": 642,
                          "active_subscriptions": 642,
                          "add_on_mrr": 0,
                          "arpu": 9383,
                          "arr": 72289044,
                          "cancellations": 0,
                          "coupons": 43300,
                          "downgrades": 0,
                          "failed_charges": 1,
                          "fees": 7373,
                          "ltv": 159039,
                          "mrr": 6024087,
                          "net_revenue": 233498,
                          "new_customers": 0,
                          "other_revenue": 0,
                          "reactivated_customers": 0,
                          "refunds": 0,
                          "revenue_churn": 543,
                          "trial_conversions": 0,
                          "upgrades": 1,
                          "user_churn": 590
                        },
                        {
                          "human_date": "2016-11-27",
                          "date": 1480204800,
                          "active_customers": 640,
                          "active_subscriptions": 640,
                          "add_on_mrr": 0,
                          "arpu": 9362,
                          "arr": 71900916,
                          "cancellations": 2,
                          "coupons": 6677,
                          "downgrades": 1,
                          "failed_charges": 1,
                          "fees": 4452,
                          "ltv": 158949,
                          "mrr": 5991743,
                          "net_revenue": 129723,
                          "new_customers": 0,
                          "other_revenue": 0,
                          "reactivated_customers": 0,
                          "refunds": 0,
                          "revenue_churn": 497,
                          "trial_conversions": 0,
                          "upgrades": 1,
                          "user_churn": 589
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/MetricShowSummaryResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/MetricShowSummary400Response'
          description: "400"
          x-do-not-generate: true
      summary: Show Summary
      tags:
      - Metric
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-metrics
      x-accepts: application/json
  /v1/metrics/{metric}:
    get:
      deprecated: false
      description: ""
      operationId: Metric_showDetails
      parameters:
      - description: "You can see a list of available metrics [here](https://developers.baremetrics.com/reference/introduction)"
        explode: false
        in: path
        name: metric
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: start_date
        required: true
        schema:
          default: 2016-11-01T07:00:00.000+00:00
          example: 2016-11-01
          format: date
          type: string
          x-konfig-original-example: 2016-11-01
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-metrics-metric-get-parameters-1-schema
        style: form
      - explode: true
        in: query
        name: end_date
        required: true
        schema:
          default: 2016-11-26T08:00:00.000+00:00
          example: 2016-11-26
          format: date
          type: string
          x-konfig-original-example: 2016-11-26
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-metrics-metric-get-parameters-2-schema
        style: form
      - description: The number of days ago to compare results to
        explode: true
        in: query
        name: compare_to
        required: false
        schema:
          default: 30
          example: 30
          format: int32
          type: integer
          x-konfig-original-example: 30
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-metrics-metric-get-parameters-3-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "metrics": [
                        {
                          "date": 1480118400,
                          "human_date": "2016-11-26",
                          "value": 6024087,
                          "notes": null,
                          "previous": {
                            "date": 1477526400,
                            "human_date": "2016-10-27",
                            "value": 5941979,
                            "percent": 1.4,
                            "notes": null
                          }
                        },
                        {
                          "date": 1480204800,
                          "human_date": "2016-11-27",
                          "value": 5991743,
                          "notes": null,
                          "previous": {
                            "date": 1477612800,
                            "human_date": "2016-10-28",
                            "value": 5932562,
                            "percent": 1,
                            "notes": null
                          }
                        },
                        {
                          "date": 1480291200,
                          "human_date": "2016-11-28",
                          "value": 6050735,
                          "notes": null,
                          "previous": {
                            "date": 1477699200,
                            "human_date": "2016-10-29",
                            "value": 5940529,
                            "percent": 1.9,
                            "notes": null
                          }
                        },
                        {
                          "date": 1480377600,
                          "human_date": "2016-11-29",
                          "value": 6076135,
                          "notes": null,
                          "previous": {
                            "date": 1477785600,
                            "human_date": "2016-10-30",
                            "value": 5935279,
                            "percent": 2.4,
                            "notes": null
                          }
                        }
                      ]
                    }
              schema:
                $ref: '#/components/schemas/MetricShowDetailsResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/MetricShowDetails400Response'
          description: "400"
          x-do-not-generate: true
      summary: Show Metric
      tags:
      - Metric
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-metrics-metric
      x-accepts: application/json
  /v1/metrics/{metric}/customers:
    get:
      deprecated: false
      description: "Returns a list of customers that make up this metric. For example,\
        \ the upgrades metric will return all customers who have upgraded within the\
        \ selected range. You can also see their MRR contribution."
      operationId: Metric_listCustomers
      parameters:
      - explode: true
        in: query
        name: start_date
        required: true
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: end_date
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "You can see a list of available metrics [here](https://developers.baremetrics.com/reference/introduction)"
        explode: false
        in: path
        name: metric
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "metrics": [
                        {
                          "date": 1475107200,
                          "human_date": "2016-09-29",
                          "value": 2,
                          "customers": [
                            {
                              "mrr": 5000,
                              "customer": {
                                "oid": "customer_1",
                                "source_id": "source_1",
                                "source": "stripe",
                                "created": 1492605754,
                                "email": "customer_1@baremetrics.com",
                                "name": "Customer 1",
                                "display_image": "https://logo.clearbit.com/baremetrics.com",
                                "display_name": "Customer 1",
                                "notes": "Here are some notes",
                                "ltv": 50000,
                              },
                              "current_plan": {
                                "oid": "mrr_50_mo",
                                "source_id": "stripe_1",
                                "source": "stripe",
                                "name": "Startup $50 - MRR - Monthly",
                                "interval": "month",
                                "interval_count": 1,
                                "trial_duration": null,
                                "trial_duration_unit": null,
                                "created": 1450216295,
                                "active": true,
                                "setup_fees": 0,
                                "amounts": [
                                  {
                                    "currency": "USD",
                                    "symbol": "$",
[...]
